<!-- <div style="text-align:center">
  <h1>Angular Crypto Example</h1>

  <form (ngSubmit)="onSubmit()">
    <label for="dataInput">Enter text to encrypt:</label><br>
    <input type="text" id="dataInput" [(ngModel)]="inputText" name="inputText" placeholder="Enter text"><br><br>

    <label for="secretKey">Enter secret key:</label><br>
    <input type="text" id="secretKey" [(ngModel)]="secretKey" name="secretKey" placeholder="Enter secret key"><br><br>

    <button type="submit">Encrypt & Decrypt</button>
  </form>

  <p><strong>Original Input:</strong> {{ inputText }}</p>
  <p><strong>Encrypted Text:</strong> {{ encryptedText }}</p>
  <p><strong>Decrypted Text:</strong> {{ decryptedText }}</p>
</div>

<h1>{{ title }}</h1> -->

<!-- Button to trigger setting query parameters -->
<!-- <button (click)="setQueryParams()">Set Query Params</button> -->

<!-- Display current query parameters -->
<!-- <div *ngIf="currentParams">
  <p>Current Query Params:</p>
  <pre>{{ currentParams | json }}</pre>
</div>
-->

<router-outlet></router-outlet>